{
  self,
  inputs,
  lib,
  ...
}:
{
  perSystem =
    {
      self',
      inputs',
      pkgs,
      pkgsStable,
      ...
    }@args:
    let
      toolchains = self.lib.toolchain.import (args // { inherit self inputs; });
      language = "{{ project_language }}";
    in
    {
      devShells.default = self.lib.shell.mkShell {
        inherit (args) system;
        modules = toolchains.general ++ toolchains.${language};
      };
    };
}
