# This function defines attrsets with packages
# to be used in the different development shells
# in this folder.

# Search for package at:
# https://search.nixos.org/packages
{
  lib,
  pkgs,
  namespace,
  ...
}@args:
let
  language = "{{ project_language }}";

  # Load all toolchains specific needs.
  all-toolchains = lib.${namespace}.toolchain.import ./. args;
  toolchain = all-toolchains.${language};

in
rec {

  default = {
    packages = [
      pkgs.${namespace}.bootstrap
      pkgs.${namespace}.treefmt
    ] ++ toolchain.packages;

    shellHook = ''
      just setup
      ${toolchain.shellHook}
    '';
  };

  ci = default;
}
