{
  "locator": "{{ executable_name }}",
  "packages": [],
  "info": {
    "description": "",
    "homepage": "",
    "license": "",
    "documentation_url": "",
    "version": "",
    "name": ""
  },
  "deps": [
  ]
}
