{% include '.jinja/base/justfile' %}
{% raw -%}
# Lint the project.
lint *args:
    ./tools/scripts/lint-rust.sh "$@"
    ./tools/scripts/lint-ub-rust.sh "$@"

# Build the executable.
build *args:
    cargo build --target-dir "{{build_dir}}" "$@"

# Run the executable.
run *args:
    cargo run --target-dir "{{build_dir}}" "$@"

# Run all tests.
test *args:
    cargo test "$@"

# Watch `cargo build|run|test ...` commands.
watch *args:
    cargo watch -x "$1" "${@:2}"
{%- endraw %}
