cff-version: 1.2.0
message: "If you use this software, please cite it as below."
title: "{{ project_name }}"

authors:
  - family-names: "John"
    given-names: "Doe"
    orcid: "..."
    affiliation: "SDSC - Swiss Data Science Center"

date-released: {{ date }}
version: "{{ project_version }}"
doi: ""
url: ""
repository-code: ""
keywords: []
license: "apache-2.0"
