cff-version: 1.2.0
message: "If you use this software, please cite it as below."
title: "{{ project_name }}"

authors:
{%- for m in project_authors %}
  - family-names: {{ m.last_name }}
    given-names: {{ m.first_name }}
    orcid: "..."
    affiliation: "SDSC - Swiss Data Science Center"
{%- endfor %}
date-released: {% now 'utc', '%Y-%M-%d' %}
version: "{{ project_version }}"
doi: ""
url: {{ project_url }}
repository-code: {{ project_url }}
keywords: []
license: {{ project_license }}
