{% include ".common/justfile" %}
{%- raw %}
# Lint the project.
[group('general')]
lint *args:
    echo "TODO: Not implemented"

# Build the module.
[group('general')]
build *args:
    echo "TODO: Not implemented"

# Test the project.
[group('general')]
test *args:
    echo "TODO: Not implemented"

# Run an executable.
[group('general')]
run *args:
    echo "TODO: Not implemented"
{%- endraw %}
