{% include '.jinja/base/justfile' %}
{% raw -%}

# Lint the package.
lint *args:
    echo "TODO: Not implemented"

# Build the module.
build *args:
    echo "TODO: Not implemented"

# Run the executable.
run *args:
    echo "TODO: Not implemented"

# Test the package.
test *args:
    echo "TODO: Not implemented"
{%- endraw %}
