<p align="center">
  <img src="./docs/assets/logo.svg" alt="project logo" width="250">
</p>

<h1 align="center">
  {{ project_name | slug }}
</h1>
<p align="center">
</p>

{% for host in project_hosts[0:1] %}
{%- if "github" in host.host %}
[![Current Release](https://img.shields.io/github/release/{{ host.organization }}/{{ host.repo }}.svg?label=release)](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/releases/latest)
[![Pipeline Status](https://img.shields.io/github/actions/workflow/status/{{ host.organization }}/{{ host.repo }}/normal.yaml?label=ci)](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/actions/workflows/normal.yaml)
{%- elif "gitlab" in host.host %}
[![Current Release](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/-/badges/release.svg)](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/-/releases)
[![Pipeline Status](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/badges/main/pipeline.svg)](https://{{ host.host }}/{{ host.organization }}/{{ host.repo }}/-/pipelines)
{%- endif %}
{%- endfor %}

{%- if project_license == "mit" %}
[![License label](https://img.shields.io/badge/License-MIT-blue.svg?)](https://mit-license.org/)
{%- elif project_license == "apache2" %}
[![License label](https://img.shields.io/badge/License-Apache2.0-blue.svg?)](http://www.apache.org/licenses/LICENSE-2.0.html)
{%- endif %}

{%- if project_language == "go" %}
{%- for host in project_hosts[0:1] %}
[![Go Doc](https://pkg.go.dev/badge/{{ host.host }}/{{ host.organization }}/{{ host.repo }})](https://pkg.go.dev/{{ host.host }}/{{ host.organization }}/{{ host.repo }})
[![Go Report Card](https://goreportcard.com/badge/{{ host.host }}/{{ host.organization }}/{{ host.repo }})](https://goreportcard.com/report/{{ host.host }}/{{ host.organization }}/{{ host.repo }})
{%- endfor %}
{%- endif %}

**Authors:**

{% for m in project_authors -%}
- [{{ m.first_name }} {{m.last_name}}](mailto:{{m.email}})
{% endfor %}

## Installation

Describe the installation instruction here.

## Usage

Describe the installation instruction here.

## Development

Read first the [Contribution Guidelines](/CONTRIBUTING.md).

For technical documentation on setup and development, see the
[Development Guide](docs/development-guide.md)

## Acknowledgement

Acknowledge all contributors and external collaborators here.

## Copyright

{% if project_hosts[0].organization.lower() == "swissdatasciencecenter" or project_hosts[0].organization.lower() == "sdsc-ordes" -%}
Copyright © {% now 'utc', '%Y' %}-2028 Swiss Data Science Center (SDSC),
[www.datascience.ch](http://www.datascience.ch/). All rights reserved. The SDSC
is jointly established and legally represented by the École Polytechnique
Fédérale de Lausanne (EPFL) and the Eidgenössische Technische Hochschule Zürich
(ETH Zürich). This copyright encompasses all materials, software, documentation,
and other content created and developed by the SDSC.
{%- else %}
Add here your copyright statement.
{%- endif %}
