[package]
  name = '{{ executable_name }}'
  version = '{{ project_version }}'
  description = "{{ project_description }}"
  license = "{{ project_license }}"
  homepage = " {{ project_url }} "
  keywords = []
  authors = [
{%- for a in project_authors %}
  "{{ a.first_name }} {{ a.last_name }} <{{ a.email }}>",
{%- endfor %}
  ]
  edition = "2024"

[dependencies]
  anyhow = "1.0.102"
  clap = { version = "4.6.0", features = ['derive']}
  {{ library_name }} = {  workspace = true }

[lints.clippy]
  pedantic = "deny"
  needless_return = "warn"
