package main

import (
	"log/slog"
	"os"

	"github.com/golang-cz/devslog"
	"{{ package_url }}/{{package_name}}/cmd/cli/cmd"
	"{{ package_url }}/{{package_name}}/cmd/cli/cmd/greet"
)

func main() {
	opts := &devslog.Options{
		MaxSlicePrintSize: 4, //nolint:mnd
		SortKeys:          true,
		TimeFormat:        "[04:05]",
		NewLineAfterLog:   true,
		DebugColor:        devslog.Magenta,
		StringerFormatter: true,
	}
	log := slog.New(devslog.NewHandler(os.Stdout, opts))

	rootCmd := cmd.CreateRootCmd(log)
	greet.Add(rootCmd, log)

	if err := rootCmd.Execute(); err != nil {
		log.Error("Error occurred", "error", err)
		os.Exit(1)
	}
}
