{% include ".jinja/common/justfile" %}
{% raw %}
# Lint the project.
lint *args:
    ruff check

# Build the project.
build *args:
    uv build --out-dir "{{build_dir}}" "$@"

# Test the project.
test *args:
    echo "TODO: Not implemented"

# Run an executable.
run *args:
    uv run cli "$@"
{%- endraw %}
