{% include '.jinja/base/justfile' %}
{% raw -%}

# Lint the package.
lint *args:
    echo "TODO: Not implemented"

# Build the module.
build *args:
    uv build --out-dir "{{build_dir}}" "$@"

# Run the executable.
run *args:
    uv run cli "$@"

# Test the package.
test *args:
    echo "TODO: Not implemented"
{%- endraw %}
